@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #ff6600;
    --secondary: #4c4b4b;
    --white: #fff;
}

body {
    font-family: Roboto;
}
.logo{
    width: 250px;
}
.breadcrumb1 {
    background-color: var(--secondary);
    height: 450px;
    top: 100px;
    color: var(--white)
}

 .btn-primary{
    background-color: var(--primary) !important;
    border: var(--primary) 1px solid;
    width: 150px;
    margin-left: 45%;
    margin-top: 5%;
    padding-bottom: 1%;
    border-radius: 0px;
 }
 .btn-primary:hover{
    background-color: var(--primary) !important;
    border: var(--primary) 1px solid;
    width: 150px;
    cursor: pointer;
 }
 .breadcrumb1 p{
    font-size: 18px;
    font-weight: 300;
 }
 .nav-link {
    color: var(--primary) !important;
    font-weight: 600;
 }
 .active{
    color: var(--primary) !important;
 }
 .active:hover{
    color: var(--secondary) !important;
    cursor: pointer;
 }
 /* contact class */
 .conbtn{
   background-color: var(--primary) !important;
   color: var(--white);
   width: 20%;
   height: 30%;
 }
 .coninfo{
   font-weight: lighter;
 }
 .conicon{
   font-size: 3rem;
   padding-left: 25%;
   color: var(--primary);
 }
 .contit{
   font-weight: bold;
 }
 .contitle{
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.05rem;
      line-height: 1.25;
      padding-left: 15%;
      
 }
 .conadd{
   width: 60%;
   text-align: center;
   padding-left: 1%;
   font-weight: lighter;
 }
 /* career class */
 .cartitlefirst{
    font-weight: bolder;
    letter-spacing: 2.25;
 }
 .carcard{
   /* display: flex; */
   justify-content: space-around;
 }
 .cartitle{
   font-size: 3rem;
   color:  var(--primary);
 }
 .carsubtitle{
   font-weight: bolder !important;
   color: black !important;
   letter-spacing: 0.25rem;
 }
 .carposition{
   font-weight: bolder;
    letter-spacing: 2.25;
 }
 /* about page */
 .adva{
  background-image: url(../public/img/slider-2.avif);
  color: var(--white);
  
 }

