@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #ff6600;
    --secondary: #4c4b4b;
    --white: #fff;
}

body {
    font-family: Roboto;
}
.logo{
    width: 250px;
}
.breadcrumb1 {
    background-color: var(--secondary);
    height: 450px;
    top: 100px;
    color: var(--white)
}
 .btn-primary{
    background-color: var(--primary) !important;
    border: var(--primary) 1px solid;
    width: 200px !important;
    margin-left: 40%;
    margin-top: 6% !important;
    padding-bottom: 1%;
    border-radius: 0px ;
 }
 .btn-primary:hover{
    background-color: var(--secondary) !important;
    border: var(--primary) 1px solid ;
    width: 170px;
    cursor: pointer;
    border: none;  
 }
 .breadcrumb1 p{
    font-size: 18px;
    font-weight: 300;
 }
 .nav-link {
    color: var(--primary) !important;
    font-weight: 600;
 }
 .active{
    color: var(--primary) !important;
 }
 .active:hover{
    color: var(--secondary) !important;
    cursor: pointer;
 }
 /* contact class */
 .conbtn{
   background-color: var(--primary) !important;
   color: var(--white);
   width: 20%;
   height: 30%;
 }
 .coninfo{
   font-weight: lighter;
 }
 .conicon{
   font-size: 3rem;
   padding-left: 25%;
   color: var(--primary);
 }
 .contit{
   font-weight: bold;
 }
 .contitle{
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.05rem;
      line-height: 1.25;
      padding-left: 15%;
      
 }
 .conadd{
   width: 60%;
   text-align: center;
   padding-left: 1%;
   font-weight: lighter;
 }
 /* career class */
 .cartitlefirst{
    font-weight: bolder;
    letter-spacing: 2.25;
 }
 .carcard{
   
   justify-content: space-around;
 }
 .cartitle{
   font-size: 3rem;
   color:  var(--primary);
 }
 .carsubtitle{
   font-weight: bolder !important;
   color: black !important;
   letter-spacing: 0.25rem;
 }
 .carposition{
   font-weight: bolder;
    letter-spacing: 2.25;
 }
 .btncar{
  background-color: var(--secondary);
  border-radius: 20px;
  color: var(--white);
  width:40%;
  height: 60%;
  border: none;
  margin-right: 5%;
}
.btncarapply{
  background-color: var(--primary);
  border-radius: 20px;
  color: var(--white);
  width:40%;
  height: 60%;
  border: none;
  margin-right: 5%;
}
.careffect{
  width: 100%;
  list-style: none;
  position: relative;
  text-decoration: none; 
}
.careffect:after{
  content: '';
  position: absolute;
  left: 46%;
  bottom: -3px;
  width: 100px;
  height: 2px;
  background: var(--primary);
  transition: all 0.45s;
}
.careffect:hover:after {
  content: '';
  position: absolute;
  right: 20%;
  bottom: -3px;
  width: 50px;
  height: 2px;
  background: var(--primary);
  transition: all 0.80s;
}


 /* about page */
 .advantage{
  border-radius: 15px;
  border: 5px solid rgba(0, 0, 0, 0.07);
 }
 .adva{
  background-image: url(../public/img/slider-2.avif);
  color: var(--white);
  
 }
.cardopt:hover{
  background-color: var(--primary) !important;
  color: var(--white);
}
.abouttest{
  background-image: url(../public/img/abouttest.jpg);
  color: var(--white)!important;

}
.box1{
  color: var(--white) !important;
}
/* Home page */
.homebtn{
  background-color: var(--primary) !important;
  border: var(--primary) 1px solid;
  width: 150px;
  margin-left: 1%;
  margin-top: 2%;
  padding-bottom: 1%;
  border-radius: 7px;
}
.Homebtn:hover{
  background-color: var(--primary) !important;
    border: var(--primary) 1px solid;
    width: 150px;
    cursor: pointer;
}
/* footer page  */
.icon1:hover{
  color: var(--primary) !important;
  cursor: pointer;
  
}
/* why choose us */
.footers {
  text-align: center;
  width: 100%;
  list-style: none;
  position: relative;
  display: inline;
  color: var(--secondary);
  text-decoration: none;
}
.footers:after {
  content: '';
  position: absolute;
  right: 47%;
  left: 47%;
  bottom: -3px;
  width: 100px;
  height: 2px;
  background: var(--primary);
  transition: all 0.45s;
}

.footers:hover:after {
  content: '';
  position: absolute;
  left: 47%;
  right: 20%;
  bottom: -3px;
  width: 20px;
  height: 2px;
  background: var(--primary);
  transition: all 0.45s;
}

.footers:hover {
  text-decoration: none; 
}
.vision{
  text-align: center;
  width: 100%;
  list-style: none;
  position: relative;
  display: inline;
  color: var(--secondary);
  text-decoration: none;
}
.vision:after{
  content: '';
  position: absolute;
  right: 45%;
  left: 46.5%;
  bottom: -3px;
  width: 100px;
  height: 2px;
  background: var(--primary);
  transition: all 0.45s;
}
.vision:hover:after{
  content: '';
  position: absolute;
  left: 47%;
  right: 20%;
  bottom: -3px;
  width: 20px;
  height: 2px;
  background: var(--primary);
  transition: all 0.45s;
}
.vision:hover {
  text-decoration: none; 
}
.testi{
  text-align: center;
  width: 100%;
  list-style: none;
  position: relative;
  display: inline;
  color: var(--secondary);
  text-decoration: none;
}
.testi:after {
  content: '';
  position: absolute;
  right: 47%;
  left: 47%;
  bottom: -3px;
  width: 100px;
  height: 2px;
  background: var(--primary);
  transition: all 0.45s;
}

.testi:hover:after {
  content: '';
  position: absolute;
  left: 47%;
  right: 20%;
  bottom: -3px;
  width: 20px;
  height: 2px;
  background: var(--primary);
  transition: all 0.45s;
}

.testi:hover {
  text-decoration: none; 
}
.footeffect{
  width: 100%;
  list-style: none;
  position: relative;
  text-decoration: none; 
}
.footeffect::after{
  content: '';
  position: absolute;
  left: 5%;
  bottom: -3px;
  width: 100px;
  height: 2px;
  background: var(--primary);
  transition: all 0.45s;
}
.footeffect:hover:after {
  content: '';
  position: absolute;
  right: 20%;
  bottom: -3px;
  width: 50px;
  height: 2px;
  background: var(--primary);
  transition: all 0.80s;
}

