@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #ff6600;
    --secondary: #4c4b4b;
    --white: #fff;
}

body {
    font-family: Roboto;
}
.logo{
    width: 250px;
}
.breadcrumb1 {
    background-color: var(--secondary);
    height: 450px;
    top: 100px;
    color: var(--white)
}
 .btn-primary{
    background-color: var(--primary) !important;
    border: var(--secondary) 1px solid !important;
    width: 200px !important;
    margin-left: 43%;
    margin-top: 6% !important;
    padding-bottom: 1%;
    border-radius: 0px !important ;
 }
 .btn-primary:hover{
    background-color: var(--secondary) !important;
    border: var(--primary) 1px solid ;
    width: 170px;
    cursor: pointer;
    border: none;  
 }
 .breadcrumb1 p{
    font-size: 18px;
    font-weight: 300;
 }
 .nav-link {
    color: var(--primary) !important;
    font-weight: 600;
    font-size: 1.2rem;
 }
 .nav-link :hover{
  color: var(--secondary);
  
 }
 .active{
    color: var(--primary) !important;
 }
 .active:hover{
    
    color: var(--secondary) !important;
    cursor: pointer;
 }
 /* contact class */
 .conbtn{
   background-color: var(--primary) !important;
   color: var(--white);
   width: 25% !important;
   height: 30%;
 }
 .coninfo{
   font-weight: lighter;
 }
 .conicon{
   font-size: 3rem;
   padding-left: 25%;
   color: var(--primary);
 }
 .contit{
   font-weight: bold;
 }
 .contitle{
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.05rem;
      line-height: 1.25;
      padding-left: 15%;
      
 }
 .conadd{
   width: 60%;
   text-align: center;
   padding-left: 1%;
   font-weight: lighter;
 }
 /* career class */
 .cartitlefirst{
    font-weight: bolder;
    letter-spacing: 2.25;
 }
 .carpage{   
  display: flex;
   justify-content: space-around !important;
   
 }
 .cartitle{
   font-size: 3rem;
   color:  var(--primary);
 }
 .carsubtitle{
   font-weight: bolder !important;
   color: black !important;
   letter-spacing: 0.25rem !important;
   
 }
  .carposition{
    font-weight: bolder;
    letter-spacing: 2.25;
  }
 .btncar{
  background-color: var(--secondary);
  border-radius: 20px;
  color: var(--white);
  width:40%;
  height: 60%;
  border: none;
  margin-right: 5%;
}
.btncarapply{
  background-color: var(--primary);
  border-radius: 20px;
  color: var(--white);
  width:40%;
  height: 60%;
  border: none;
  margin-right: 5%;
}
.careffect{
  width: 100%;
  list-style: none;
  position: relative;
  text-decoration: none; 
}
.careffect:after{
  content: '';
  position: absolute;
  margin-left: 43%;
  left: 4%;
  bottom: -3px;
  width: 30px;
  height: 5px;
  background: var(--primary);
  transition: all 0.45s;
}
.careffect:hover:after {
  content: '';
  position: absolute;
  left: 0%;
  bottom: -3px;
  width: 150px;
  height: 2px;
  background: var(--primary);
  transition: all 0.80s;
}
 /* about page */
 .advantage{
  border-radius: 15px;
  border: 5px solid rgba(32, 13, 141, 0.07);
 }
 .adva{
  background-image: url(../public/img/slider-2.avif);
  color: var(--white);
  
 }
 .pachas{
  font-size: 30px;
  font-weight: bolder;
 }

.abouttest{
  background-image: url(../public/img/abouttest.jpg);
  color: var(--white)!important;

}
.box1{
  color: var(--white) !important;
}
/* Home page */
.video-background{
  width: 100%;
}
.homebtn{
  color: #fff;
  background-color: var(--primary) !important;
  border: var(--primary) 1px solid;
  /* width: 100% !important; */
  margin-left: 1%;
  margin-top: 2%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 7px;
  text-decoration: none;
}
.Homebtn:hover{
    background-color: var(--secondary) !important;
    border: var(--primary) 1px solid;
    cursor: pointer;
    color: var(--white) !important;
    text-decoration: none;

}
/* footer page  */
.icon1:hover{
  color: var(--primary) !important;
  cursor: pointer;
  
}
/* why choose us  change effect in hover*/
.cardopt{
    border: 5px solid rgba(0, 0, 0, 0.07)!important ;
    border-bottom: 50px !important;
}
.cardopt:hover{
  background-color: var(--primary) !important;  
  color: var(--white);
  position: relative;
}
.box3 {
  background: rgba(247, 198, 5, 0.20);
  font-size: 40px;
  border-radius: 60px;  
  padding: 20px;
  color: red;
  display: inline-block;
  transition: all 0.4s ease;
}

.box3:hover {
  background: var(--white);  
  transform: scale(1.1);  
}
.box3 i {
  transition: color 0.3s ease, transform 0.3s ease;
}
.box3:hover i {
  color: #007bff;  
  transform: scale(1.2); 
  position:absolute ;
}



.footers{
  width: 100%;
  list-style: none;
  position: relative;
  text-decoration: none;
}
.footers:after{
  content: '';
  position: absolute;
  margin-left: 45%;
  left: 4%;
  bottom: -3px;
  width: 30px;
  height: 2px;
  background: var(--primary);
  transition: all 0.40s;
}
.footers:hover:after{
  content: '';
  position: absolute;
  left: 0%;
  bottom: -3px;
  width: 150px;                                                         
  height: 2px;
  background: var(--primary);
  transition: all 0.80s;
}
.vision:hover {
  text-decoration: none; 
}
.vision{
  width: 100%;
  list-style: none;
  position: relative;
  text-decoration: none;
}
.vision:after{
  content: '';
  position: absolute;
  margin-left: 45%;
  left: 4%;
  bottom: -3px;
  width: 30px;
  height: 2px;
  background: var(--primary);
  transition: all 0.40s;
}
.vision:hover:after{
  content: '';
  position: absolute;
  left: 0%;
  bottom: -3px;
  width: 150px;                                                         
  height: 2px;
  background: var(--primary);
  transition: all 0.80s;
}
.vision:hover {
  text-decoration: none; 
}
.testi{
  width: 100%;
  list-style: none;
  position: relative;
  text-decoration: none; 
}
.testi:after {
  content: '';
  position: absolute;
  margin-left: 45%;
  left: 4%;
  bottom: -3px;
  width: 30px;
  height: 5px;
  background: var(--primary);
  transition: all 0.45s;
}

.testi:hover:after {
  content: '';
  position: absolute;
  left: 0%;
  bottom: -3px;
  width: 150px;
  height: 2px;
  background: var(--primary);
  transition: all 0.80s;
}

.testi:hover {
  text-decoration: none; 
}
.footeffect{
  width: 100%;
  list-style: none;
  position: relative;
  text-decoration: none; 
}
.footeffect::after{
  content: '';
  position: absolute;
  left: 5%;
  bottom: -3px;
  width: 100px;
  height: 2px;
  background: var(--primary);
  transition: all 0.45s;
}
.footeffect:hover:after {
  content: '';
  position: absolute;
  right: 30%;
  bottom: -3px;
  width: 140px;
  height: 2px;
  background: var(--primary);
  transition: all 0.80s;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal Dialog */
.modal-dialog {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  max-width: 600px;
}

/* Close Button */
.close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-header,
.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-size: 1.5rem;
}

.form-group {
  margin-bottom: 15px;
}

.modal-footer .btn {
  margin-left: 10px;
}
